

.sidenav {
    height: 98%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10px;
	background: transparent;
	background-size:cover;
	font-family: 'Alegreya SC';
    overflow-x: hidden;
    transition: 0.5s;
	margin-bottom:50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.7s;
}

.sidenav #box:hover{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.7s;
}

.sidenav a:hover {
    color: blue;
	font-weight:700px;
	font-style:bold;
	font-size: 27px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
	color:cyan;
}

.sidenav .closebtn:hover {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
	color:blue;
}

#main {
    transition:0.2s;
	margin-left:20%;
	color:white;	
}

#mynavk .sidenav{
	position: fixed;
    height: 98%;
    width: 0;
    z-index: 1;
    top: 10px;
	background: transparent;
	font-family: 'Alegreya SC';
    overflow-x: hidden;
    transition: 0.5s;
	margin-bottom:50px;
}
.main {
	margin-top:20px;
	
}


.pull-cent{padding-right:40%}
* {box-sizing: border-box}


div.tab {
    float: left;
    width: 16%;
	background:rgba(0,0,0,0.5);
	margin-left:10px;
	margin-top:10px;
    height: 50%;
}
div.tab button {
    display: block;
    background-color: rgba(0,0,0,0.5);
    color: white;
	font-weight:bold;
    padding: 16px 11px;
    width: 100%;
	height:50px;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.4s;
    font-size: 17px;
}
div.tab button:hover {
    background-color: blue;
	font-size: 19px;
	color:yellow;
}

div.tab button.active {
    background-color:#3f9db8;
	color:white;	
}

.tabcontent {
    float: left;
	font-family: 'Nixie One';
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 80%;
	margin-bottom:20px;
	margin-top:20px;
}
th, td {
    padding: 3px;
	border: 1px solid grey;
    text-align: center;
	font-size:18px;
	color:white;
	background-color:rgba(0, 0, 0, 0.8);	
}
th, td:hover{
	font-size:20px;
}
table {
	width:100%;
	margin-bottom:50px;
	margin-left:50px;
	box-shadow: 3px 3px 2px white;
}

.logot {position: fixed;right:25px; top: 10px;}
.cent{
position: fixed;right:130px; top: 10px

}
.boxjic {position: fixed;left:20px;top: 440px; }
.mapx{
	width:250px;
	height:250px;
	background:black;
	margin-left:8%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}